In [1]:
#  ***** After this step restart the kernel*****

# pip install pandas numpy sqlalchemy matplotlib seaborn kagglehub
# pip install mysql-connector-python sqlalchemy pandas
# pip install mysql-connector-python

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pandas in c:\program files\arcgis\pro\bin\python\envs\arcgispro-py3\lib\site-packages (2.0.2)
Requirement already satisfied: numpy in c:\program files\arcgis\pro\bin\python\envs\arcgispro-py3\lib\site-packages (1.22.4)
Requirement already satisfied: sqlalchemy in c:\program files\arcgis\pro\bin\python\envs\arcgispro-py3\lib\site-packages (1.4.39)
Requirement already satisfied: matplotlib in c:\program files\arcgis\pro\bin\python\envs\arcgispro-py3\lib\site-packages (3.6.3)
Requirement already satisfied: seaborn in c:\program files\arcgis\pro\bin\python\envs\arcgispro-py3\lib\site-packages (0.12.2)
Requirement already satisfied: kagglehub in c:\users\bmlokesh\appdata\roaming\python\python39\site-packages (0.3.7)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\program files\arcgis\pro\bin\python\envs\arcgispro-py3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\program files\arcgis\pro\bin\python\envs\arcgispro-py3\lib\site-packages\pytz-2022.6-py3.9.egg (from pandas) (2022.6)
Requirement already satisfied: tzdata>=2022.1 in c:\users\bmlokesh\appdata\roaming\python\python39\site-packages (from pandas) (2025.1)
Requirement already satisfied: greenlet!=0.4.17 in c:\program files\arcgis\pro\bin\python\envs\arcgispro-py3\lib\site-packages (from sqlalchemy) (1.1.1)
Requirement already satisfied: contourpy>=1.0.1 in c:\program files\arcgis\pro\bin\python\envs\arcgispro-py3\lib\site-packages (from matplotlib) (1.0.5)
Requirement already satisfied: cycler>=0.10 in c:\program files\arcgis\pro\bin\python\envs\arcgispro-py3\lib\site-packages (from matplotlib) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in c:\program files\arcgis\pro\bin\python\envs\arcgispro-py3\lib\site-packages (from matplotlib) (4.25.0)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\program files\arcgis\pro\bin\python\envs\arcgispro-py3\lib\site-packages (from matplotlib) (1.4.4)
Requirement already satisfied: packaging>=20.0 in c:\program files\arcgis\pro\bin\python\envs\arcgispro-py3\lib\site-packages (from matplotlib) (21.3)
Requirement already satisfied: pillow>=6.2.0 in c:\program files\arcgis\pro\bin\python\envs\arcgispro-py3\lib\site-packages (from matplotlib) (9.5.0)
Requirement already satisfied: pyparsing>=2.2.1 in c:\program files\arcgis\pro\bin\python\envs\arcgispro-py3\lib\site-packages (from matplotlib) (3.0.9)
Requirement already satisfied: model-signing in c:\users\bmlokesh\appdata\roaming\python\python39\site-packages (from kagglehub) (0.2.0)
Requirement already satisfied: requests in c:\program files\arcgis\pro\bin\python\envs\arcgispro-py3\lib\site-packages (from kagglehub) (2.31.0)
Requirement already satisfied: tqdm in c:\program files\arcgis\pro\bin\python\envs\arcgispro-py3\lib\site-packages (from kagglehub) (4.64.1)
Requirement already satisfied: six>=1.5 in c:\program files\arcgis\pro\bin\python\envs\arcgispro-py3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Requirement already satisfied: cryptography in c:\users\bmlokesh\appdata\roaming\python\python39\site-packages (from model-signing->kagglehub) (44.0.0)
Requirement already satisfied: in-toto-attestation in c:\users\bmlokesh\appdata\roaming\python\python39\site-packages (from model-signing->kagglehub) (0.9.3)
Requirement already satisfied: sigstore in c:\users\bmlokesh\appdata\roaming\python\python39\site-packages (from model-signing->kagglehub) (3.6.1)
Requirement already satisfied: typing-extensions in c:\users\bmlokesh\appdata\roaming\python\python39\site-packages (from model-signing->kagglehub) (4.12.2)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\program files\arcgis\pro\bin\python\envs\arcgispro-py3\lib\site-packages (from requests->kagglehub) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\program files\arcgis\pro\bin\python\envs\arcgispro-py3\lib\site-packages (from requests->kagglehub) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\program files\arcgis\pro\bin\python\envs\arcgispro-py3\lib\site-packages (from requests->kagglehub) (1.26.16)
Requirement already satisfied: certifi>=2017.4.17 in c:\program files\arcgis\pro\bin\python\envs\arcgispro-py3\lib\site-packages (from requests->kagglehub) (2023.7.22)
Requirement already satisfied: colorama in c:\program files\arcgis\pro\bin\python\envs\arcgispro-py3\lib\site-packages (from tqdm->kagglehub) (0.4.6)
Requirement already satisfied: cffi>=1.12 in c:\program files\arcgis\pro\bin\python\envs\arcgispro-py3\lib\site-packages (from cryptography->model-signing->kagglehub) (1.15.1)
Requirement already satisfied: protobuf in c:\program files\arcgis\pro\bin\python\envs\arcgispro-py3\lib\site-packages (from in-toto-attestation->model-signing->kagglehub) (4.21.12)
Requirement already satisfied: id>=1.1.0 in c:\users\bmlokesh\appdata\roaming\python\python39\site-packages (from sigstore->model-signing->kagglehub) (1.5.0)
Requirement already satisfied: importlib_resources~=5.7 in c:\users\bmlokesh\appdata\roaming\python\python39\site-packages (from sigstore->model-signing->kagglehub) (5.13.0)
Requirement already satisfied: pyasn1~=0.6 in c:\users\bmlokesh\appdata\roaming\python\python39\site-packages (from sigstore->model-signing->kagglehub) (0.6.1)
Requirement already satisfied: pydantic<3,>=2 in c:\users\bmlokesh\appdata\roaming\python\python39\site-packages (from sigstore->model-signing->kagglehub) (2.10.6)
Requirement already satisfied: pyjwt>=2.1 in c:\program files\arcgis\pro\bin\python\envs\arcgispro-py3\lib\site-packages (from sigstore->model-signing->kagglehub) (2.4.0)
Requirement already satisfied: pyOpenSSL>=23.0.0 in c:\users\bmlokesh\appdata\roaming\python\python39\site-packages (from sigstore->model-signing->kagglehub) (25.0.0)
Requirement already satisfied: rich~=13.0 in c:\users\bmlokesh\appdata\roaming\python\python39\site-packages (from sigstore->model-signing->kagglehub) (13.9.4)
Requirement already satisfied: rfc8785~=0.1.2 in c:\users\bmlokesh\appdata\roaming\python\python39\site-packages (from sigstore->model-signing->kagglehub) (0.1.4)
Requirement already satisfied: rfc3161-client~=0.1.2 in c:\users\bmlokesh\appdata\roaming\python\python39\site-packages (from sigstore->model-signing->kagglehub) (0.1.2)
Requirement already satisfied: sigstore-protobuf-specs==0.3.2 in c:\users\bmlokesh\appdata\roaming\python\python39\site-packages (from sigstore->model-signing->kagglehub) (0.3.2)
Requirement already satisfied: sigstore-rekor-types==0.0.18 in c:\users\bmlokesh\appdata\roaming\python\python39\site-packages (from sigstore->model-signing->kagglehub) (0.0.18)
Requirement already satisfied: tuf~=5.0 in c:\users\bmlokesh\appdata\roaming\python\python39\site-packages (from sigstore->model-signing->kagglehub) (5.1.0)
Requirement already satisfied: platformdirs~=4.2 in c:\users\bmlokesh\appdata\roaming\python\python39\site-packages (from sigstore->model-signing->kagglehub) (4.3.6)
Requirement already satisfied: betterproto==2.0.0b6 in c:\users\bmlokesh\appdata\roaming\python\python39\site-packages (from sigstore-protobuf-specs==0.3.2->sigstore->model-signing->kagglehub) (2.0.0b6)
Requirement already satisfied: grpclib<0.5.0,>=0.4.1 in c:\users\bmlokesh\appdata\roaming\python\python39\site-packages (from betterproto==2.0.0b6->sigstore-protobuf-specs==0.3.2->sigstore->model-signing->kagglehub) (0.4.7)
Requirement already satisfied: pycparser in c:\program files\arcgis\pro\bin\python\envs\arcgispro-py3\lib\site-packages (from cffi>=1.12->cryptography->model-signing->kagglehub) (2.21)
Requirement already satisfied: zipp>=3.1.0 in c:\program files\arcgis\pro\bin\python\envs\arcgispro-py3\lib\site-packages (from importlib_resources~=5.7->sigstore->model-signing->kagglehub) (3.8.0)
Requirement already satisfied: annotated-types>=0.6.0 in c:\users\bmlokesh\appdata\roaming\python\python39\site-packages (from pydantic<3,>=2->sigstore->model-signing->kagglehub) (0.7.0)
Requirement already satisfied: pydantic-core==2.27.2 in c:\users\bmlokesh\appdata\roaming\python\python39\site-packages (from pydantic<3,>=2->sigstore->model-signing->kagglehub) (2.27.2)
Requirement already satisfied: markdown-it-py>=2.2.0 in c:\users\bmlokesh\appdata\roaming\python\python39\site-packages (from rich~=13.0->sigstore->model-signing->kagglehub) (3.0.0)
Requirement already satisfied: pygments<3.0.0,>=2.13.0 in c:\program files\arcgis\pro\bin\python\envs\arcgispro-py3\lib\site-packages (from rich~=13.0->sigstore->model-signing->kagglehub) (2.14.0)
Requirement already satisfied: securesystemslib~=1.0 in c:\users\bmlokesh\appdata\roaming\python\python39\site-packages (from tuf~=5.0->sigstore->model-signing->kagglehub) (1.2.0)
Requirement already satisfied: mdurl~=0.1 in c:\users\bmlokesh\appdata\roaming\python\python39\site-packages (from markdown-it-py>=2.2.0->rich~=13.0->sigstore->model-signing->kagglehub) (0.1.2)
Requirement already satisfied: email-validator>=2.0.0 in c:\users\bmlokesh\appdata\roaming\python\python39\site-packages (from pydantic<3,>=2->sigstore->model-signing->kagglehub) (2.2.0)
Requirement already satisfied: dnspython>=2.0.0 in c:\users\bmlokesh\appdata\roaming\python\python39\site-packages (from email-validator>=2.0.0->pydantic<3,>=2->sigstore->model-signing->kagglehub) (2.7.0)
Requirement already satisfied: h2<5,>=3.1.0 in c:\users\bmlokesh\appdata\roaming\python\python39\site-packages (from grpclib<0.5.0,>=0.4.1->betterproto==2.0.0b6->sigstore-protobuf-specs==0.3.2->sigstore->model-signing->kagglehub) (4.2.0)
Requirement already satisfied: multidict in c:\users\bmlokesh\appdata\roaming\python\python39\site-packages (from grpclib<0.5.0,>=0.4.1->betterproto==2.0.0b6->sigstore-protobuf-specs==0.3.2->sigstore->model-signing->kagglehub) (6.1.0)
Requirement already satisfied: hyperframe<7,>=6.1 in c:\users\bmlokesh\appdata\roaming\python\python39\site-packages (from h2<5,>=3.1.0->grpclib<0.5.0,>=0.4.1->betterproto==2.0.0b6->sigstore-protobuf-specs==0.3.2->sigstore->model-signing->kagglehub) (6.1.0)
Requirement already satisfied: hpack<5,>=4.1 in c:\users\bmlokesh\appdata\roaming\python\python39\site-packages (from h2<5,>=3.1.0->grpclib<0.5.0,>=0.4.1->betterproto==2.0.0b6->sigstore-protobuf-specs==0.3.2->sigstore->model-signing->kagglehub) (4.1.0)

### Uploading Data

In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns 
from sqlalchemy import create_engine

In [4]:
file_path="all_reviews.csv"
df = pd.read_csv(file_path, low_memory=False)

In [5]:
df.head(2)

,rating,title,status,pros,cons,advice,Recommend,CEO Approval,Business Outlook,Career Opportunities,Compensation and Benefits,Senior Management,Work/Life Balance,Culture & Values,Diversity & Inclusion,firm_link,date,job,index
0,5.0,Good,"Current Employee, more than 10 years",Knowledge gain of complete project,Financial growth and personal growth,NaN,v,o,v,3,3,3,3,3.0,3.0,Reviews/Baja-Steel-and-Fence-Reviews-E5462645.htm,"Nov 19, 2022",Manager Design,NaN
1,4.0,Good,"Former Employee, less than 1 year","Good work,good work , flexible, support","Good,work, flexible,good support, good team work",NaN,v,o,o,4,4,4,4,4.0,4.0,Reviews/Baja-Steel-and-Fence-Reviews-E5462645.htm,"Jan 29, 2022",Anonymous Employee,NaN

### Data Cleaning & Processing

In [6]:
df=df.drop(columns=['index','advice'],errors='ignore')

In [7]:
df2=df

#### Data Manipulation

In [8]:
# change columns to boolean format and create new columns
df['date']= pd.to_datetime(df['date'])
df['recommend'] = df['Recommend'].map({'v': True, 'o': False})
df['ceo_approval'] = df['CEO Approval'].map({'v': True, 'o': False})
df['business_outlook'] = df['Business Outlook'].map({'v': True, 'o': False})

In [9]:
df.describe()

,rating,Culture & Values,Diversity & Inclusion,date
count,9.901718e+06,7.655116e+06,3.357607e+06,9901718
mean,3.557778e+00,3.481324e+00,3.841908e+00,2019-04-05 18:43:50.680939520
min,1.000000e+00,1.000000e+00,1.000000e+00,2008-01-25 00:00:00
25%,3.000000e+00,3.000000e+00,3.000000e+00,2016-12-01 00:00:00
50%,4.000000e+00,4.000000e+00,4.000000e+00,2020-06-06 00:00:00
75%,5.000000e+00,5.000000e+00,5.000000e+00,2021-11-16 00:00:00
max,5.000000e+00,5.000000e+00,5.000000e+00,2023-07-26 00:00:00
std,1.249354e+00,1.389978e+00,1.273648e+00,NaN

In [10]:
# Convert the specified columns to float
df['Career Opportunities'] = pd.to_numeric(df['Career Opportunities'], errors='coerce')
df['Senior Management'] = pd.to_numeric(df['Senior Management'], errors='coerce')
df['Work/Life Balance'] = pd.to_numeric(df['Work/Life Balance'], errors='coerce')



# Fill missing numeric values with median
df['rating'].fillna(df['rating'].median(), inplace=True)
df['Career Opportunities'].fillna(df['Career Opportunities'].median(), inplace=True)
df['Senior Management'].fillna(df['Senior Management'].median(), inplace=True)
df['Work/Life Balance'].fillna(df['Work/Life Balance'].median(), inplace=True)
df['Culture & Values'].fillna(df['Culture & Values'].median(), inplace=True)
df['Diversity & Inclusion'].fillna(df['Diversity & Inclusion'].median(), inplace=True)

# Fill missing categorical values with "Unknown"
df['recommend'].fillna("Unknown", inplace=True)
df['ceo_approval'].fillna("Unknown", inplace=True)
df['business_outlook'].fillna("Unknown", inplace=True)

df['date'] = df['date'].dt.normalize()

In [11]:
df.columns

Index(['rating', 'title', 'status', 'pros', 'cons', 'Recommend',
       'CEO Approval', 'Business Outlook', 'Career Opportunities',
       'Compensation and Benefits', 'Senior Management', 'Work/Life Balance',
       'Culture & Values', 'Diversity & Inclusion', 'firm_link', 'date', 'job',
       'recommend', 'ceo_approval', 'business_outlook'],
      dtype='object')

#### Extracting Company name from Links

In [12]:
import re

def extract_company_name(link):
    if pd.isna(link) or link.strip() == "":
        return "Unknown"

    # Case 1: If the link is a relative path (e.g., Reviews/Baja-Steel-and-Fence-Reviews-E5462645.htm)
    match = re.search(r'Reviews/([^-/]+(?:-[^-/]+)*)-Reviews', link)
    
    if match:
        company_name = match.group(1).replace("-", " ")  # Replace hyphens with spaces
        return company_name

    # Case 2: If the link is a full URL (e.g., https://www.glassdoor.com/Reviews/Calgary-Flam...)
    match = re.search(r'glassdoor\.com/Reviews/([^-/]+(?:-[^-/]+)*)-Reviews', link)
    
    if match:
        company_name = match.group(1).replace("-", " ")  # Replace hyphens with spaces
        return company_name

    return "Unknown"

# Apply the function
df['company_name'] = df['firm_link'].apply(lambda x: extract_company_name(str(x)))

# Verify the extraction
print(df[['firm_link', 'company_name']].head(10))

                                           firm_link          company_name
0  Reviews/Baja-Steel-and-Fence-Reviews-E5462645.htm  Baja Steel and Fence
1  Reviews/Baja-Steel-and-Fence-Reviews-E5462645.htm  Baja Steel and Fence
2  Reviews/Baja-Steel-and-Fence-Reviews-E5462645.htm  Baja Steel and Fence
3  https://www.glassdoor.com/Reviews/Calgary-Flam...        Calgary Flames
4  https://www.glassdoor.com/Reviews/Calgary-Flam...        Calgary Flames
5  https://www.glassdoor.com/Reviews/Calgary-Flam...        Calgary Flames
6  https://www.glassdoor.com/Reviews/Calgary-Flam...        Calgary Flames
7  https://www.glassdoor.com/Reviews/Calgary-Flam...        Calgary Flames
8  https://www.glassdoor.com/Reviews/Calgary-Flam...        Calgary Flames
9  https://www.glassdoor.com/Reviews/Calgary-Flam...        Calgary Flames

In [13]:
df.drop(columns=['Recommend', 'CEO Approval', 'Business Outlook', 'firm_link'], inplace=True, errors='ignore')

In [14]:
df['company_name'].fillna('Unknown', inplace=True)
unknown_count = df[df['company_name'] == "Unknown"].shape[0]
print(f"Number of Unknown company names: {unknown_count}")

Number of Unknown company names: 5574

In [15]:
df[df['company_name'] == "Unknown"].head()

,rating,title,status,pros,cons,Career Opportunities,Compensation and Benefits,Senior Management,Work/Life Balance,Culture & Values,Diversity & Inclusion,date,job,recommend,ceo_approval,business_outlook,company_name
14592,4.0,Title,"Current Employee, more than 3 years",Pros include as many training opportunities as...,"Cons include 12 hours shifts, rather than 24 o...",3.0,2,2.0,4.0,5.0,4.0,2016-03-27,Firefighter/Paramedic,True,False,True,Unknown
43825,4.0,"Awesome job, ok company","Current Employee, more than 3 years","The job is wonderful, the company is great, bu...",Absolutely no pay increases our benefits of an...,4.0,2,4.0,3.0,5.0,4.0,2015-06-13,Anonymous Employee,True,False,True,Unknown
94504,4.0,Great Learning Opportunity,Former Intern,This is an amazing experience for any inter. Y...,No pay. Due to this being a government interns...,3.0,NaN,3.0,4.0,4.0,4.0,2017-07-12,Anonymous Intern,True,False,False,Unknown
128619,5.0,"Overall, positive experience with a tremendous...","Former Employee, more than 5 years","Very goal oriented, tightly knit team with pos...",Sometimes difficult balancing between the engi...,4.0,4.0,4.0,4.0,4.0,4.0,2012-09-22,Customer Care Lead,True,False,Unknown,Unknown
128620,4.0,I worked there 2001,"Former Employee, more than 1 year",Great company culture and loved helping the co...,I was not able to move up due to the founders ...,2.0,4.0,3.0,4.0,4.0,4.0,2021-06-17,Vice President of Product Development,True,True,True,Unknown

In [16]:
print(df['company_name'].nunique())
print(df['company_name'].value_counts().head(10))  # Show most common company names

34158
company_name
Amazon                            163396
Tata Consultancy Services         107218
Walmart                           102152
Cognizant Technology Solutions     84171
McDonald s                         76777
Accenture                          69026
Target                             67885
HP Inc                             63787
Starbucks                          55325
Infosys                            53189
Name: count, dtype: int64

#### Eleminating Null Values

In [17]:
print(df.isnull().sum())  # Should be 0 if everything is replaced

rating                             0
title                          39424
status                           171
pros                             188
cons                             234
Career Opportunities               0
Compensation and Benefits    1878091
Senior Management                  0
Work/Life Balance                  0
Culture & Values                   0
Diversity & Inclusion              0
date                             171
job                              171
recommend                          0
ceo_approval                       0
business_outlook                   0
company_name                       0
dtype: int64

In [18]:
df['job'] = df['job'].fillna('Unknown')  # Fill NaN values
df['job'] = df['job'].replace('', 'Unknown')  # Replace empty strings

In [19]:
print(df['job'].isnull().sum())  # Should be 0 if everything is replaced
df['job'].value_counts().head(10)  # Check most common job titles

0

job
 Anonymous Employee                 1704869
                                     682948
 Sales Associate                     155604
 Software Engineer                   147930
 Manager                             127789
 Cashier                              96628
 Customer Service Representative      91980
 Senior Software Engineer             76180
 Associate                            68661
 Assistant Manager                    68181
Name: count, dtype: int64

In [20]:
df['Compensation and Benefits'] = pd.to_numeric(df['Compensation and Benefits'], errors='coerce')
df['Compensation and Benefits'].fillna(df['Compensation and Benefits'].median(), inplace=True)

df['recommend'] = df['recommend'].astype('category')
df['ceo_approval'] = df['ceo_approval'].astype('category')
df['business_outlook'] = df['business_outlook'].astype('category')

In [21]:
# Check for missing (NaN) values in the date column
missing_dates = df[df['date'].isnull()]
print(f"Number of rows with missing date values: {missing_dates.shape[0]}")

# Display the first few rows with missing date values
missing_dates.head(10)

Number of rows with missing date values: 171

,rating,title,status,pros,cons,Career Opportunities,Compensation and Benefits,Senior Management,Work/Life Balance,Culture & Values,Diversity & Inclusion,date,job,recommend,ceo_approval,business_outlook,company_name
43535,4.0,NaN,NaN,NaN,NaN,3.0,3.0,3.0,4.0,4.0,4.0,NaT,Unknown,Unknown,Unknown,Unknown,Tata Group
82740,4.0,NaN,NaN,NaN,NaN,3.0,3.0,3.0,4.0,4.0,4.0,NaT,Unknown,Unknown,Unknown,Unknown,GameStop
105914,4.0,NaN,NaN,NaN,NaN,3.0,3.0,3.0,4.0,4.0,4.0,NaT,Unknown,Unknown,Unknown,Unknown,Chipotle
161539,4.0,NaN,NaN,NaN,NaN,3.0,3.0,3.0,4.0,4.0,4.0,NaT,Unknown,Unknown,Unknown,Unknown,Wendy's
253058,4.0,NaN,NaN,NaN,NaN,3.0,3.0,3.0,4.0,4.0,4.0,NaT,Unknown,Unknown,Unknown,Unknown,Nordstrom
278053,4.0,NaN,NaN,NaN,NaN,3.0,3.0,3.0,4.0,4.0,4.0,NaT,Unknown,Unknown,Unknown,Unknown,Allianz
359887,4.0,NaN,NaN,NaN,NaN,3.0,3.0,3.0,4.0,4.0,4.0,NaT,Unknown,Unknown,Unknown,Unknown,PwC
390211,4.0,NaN,NaN,NaN,NaN,3.0,3.0,3.0,4.0,4.0,4.0,NaT,Unknown,Unknown,Unknown,Unknown,PwC
513361,4.0,NaN,NaN,NaN,NaN,3.0,3.0,3.0,4.0,4.0,4.0,NaT,Unknown,Unknown,Unknown,Unknown,Anika Therapeutics
521227,4.0,NaN,NaN,NaN,NaN,3.0,3.0,3.0,4.0,4.0,4.0,NaT,Unknown,Unknown,Unknown,Unknown,Connection

In [22]:
df = df.dropna(subset=['date'])
print(f"Missing date values after drop: {df['date'].isnull().sum()}")  # Should be 0

Missing date values after drop: 0

In [23]:
df = df.dropna(subset=['pros', 'cons'])

In [24]:
# Count missing values in 'title'
missing_titles = df['title'].isnull().sum()
print(f"Missing values in 'title': {missing_titles}")

# Display rows where 'title' is missing
df_missing_title = df[df['title'].isnull()]
df_missing_title.head(3)  # Show first 10 missing title rows

Missing values in 'title': 39253

,rating,title,status,pros,cons,Career Opportunities,Compensation and Benefits,Senior Management,Work/Life Balance,Culture & Values,Diversity & Inclusion,date,job,recommend,ceo_approval,business_outlook,company_name
88,4.0,NaN,Current Employee,"Family oriented, good management, not much tur...","Less pay, a lot of travel",3.0,3.0,3.0,4.0,4.0,4.0,2022-09-22,Field Marketing Manager,False,False,False,California Casualty
316,3.0,NaN,Former Employee,Good employee benefits and time off,Repetitive work environment long hours,3.0,4.0,3.0,3.0,3.0,3.0,2023-04-29,Sales Support Associate,False,False,False,Canada Life
608,5.0,NaN,"Current Employee, more than 3 years",great place to work at.\r\ngreat benefits\r\nT...,The call center got super busy because of the ...,4.0,5.0,4.0,4.0,4.0,4.0,2022-02-14,Customer Service Representative (Bilingual),False,True,False,Canada Life

In [25]:
df['title'] = df['title'].fillna(df['pros'])  # Use 'pros' column as title
df['title'] = df['title'].fillna(df['cons'])  # Use 'cons' if 'pros' is also missing

# Replace any remaining NaNs with "No Title"
df['title'].fillna("No Title", inplace=True)

In [26]:
df = df.dropna(subset=['title'])

In [27]:
print(df.isnull().sum())

rating                       0
title                        0
status                       0
pros                         0
cons                         0
Career Opportunities         0
Compensation and Benefits    0
Senior Management            0
Work/Life Balance            0
Culture & Values             0
Diversity & Inclusion        0
date                         0
job                          0
recommend                    0
ceo_approval                 0
business_outlook             0
company_name                 0
dtype: int64

#### formating data in the columns

In [28]:
# Function to extract employment status
def extract_employment_status(status):
    if "Current Employee" in status:
        return "Current Employee"
    elif "Former Employee" in status:
        return "Former Employee"
    return "Unknown"  # If neither is found

# Apply function to create new column
df['employment_status'] = df['status'].apply(lambda x: extract_employment_status(str(x)))

In [29]:
import re

# Function to extract only the numeric experience years
def extract_experience_years(status):
    match = re.search(r'(\d+)', status)  # Find the first number in the text
    if match:
        return int(match.group(1))  # Convert the matched number to an integer
    return np.nan  # Return NaN if no number is found

# Apply function to create new column
df['experience_years'] = df['status'].apply(lambda x: extract_experience_years(str(x)))

In [30]:
df[['status', 'employment_status', 'experience_years']].head(20)

                                  status employment_status  experience_years
0   Current Employee, more than 10 years  Current Employee              10.0
1      Former Employee, less than 1 year   Former Employee               1.0
2     Current Employee, more than 1 year  Current Employee               1.0
3     Current Employee, more than 1 year  Current Employee               1.0
4    Current Employee, more than 3 years  Current Employee               3.0
5     Former Employee, more than 5 years   Former Employee               5.0
6      Former Employee, less than 1 year   Former Employee               1.0
7     Former Employee, more than 5 years   Former Employee               5.0
8     Current Employee, more than 1 year  Current Employee               1.0
9      Former Employee, more than 1 year   Former Employee               1.0
10                      Current Employee  Current Employee               NaN
11    Former Employee, more than 8 years   Former Employee               8.0
12     Former Employee, less than 1 year   Former Employee               1.0
13    Former Employee, more than 3 years   Former Employee               3.0
14     Former Employee, less than 1 year   Former Employee               1.0
15    Former Employee, more than 5 years   Former Employee               5.0
16                      Current Employee  Current Employee               NaN
17                       Former Employee   Former Employee               NaN
18   Current Employee, more than 5 years  Current Employee               5.0
19                      Current Employee  Current Employee               NaN

In [31]:
df['experience_years'].fillna(0,inplace=True)

In [32]:
# Function to clean text columns
def clean_text(text):
    if pd.isna(text):  # Handle NaN values
        return "Unknown"
    
    text = text.strip()  # Remove leading & trailing spaces
    text = text.lower()  # Convert to lowercase for consistency
    text = re.sub(r'\s+', ' ', text)  # Remove extra spaces
    text = re.sub(r'[^a-zA-Z0-9.,!? ]', '', text)  # Remove special characters except punctuation
    return text

# cleaning function
df['title'] = df['title'].apply(clean_text)
df['pros'] = df['pros'].apply(clean_text)
df['cons'] = df['cons'].apply(clean_text)

In [33]:
# Limit title to 100 characters, pros/cons to 300 characters
df['title'] = df['title'].str[:100]
df['pros'] = df['pros'].str[:300]
df['cons'] = df['cons'].str[:300]

In [34]:
df[['title', 'pros', 'cons']].head(10)

,title,pros,cons
0,good,knowledge gain of complete project,financial growth and personal growth
1,good,"good work,good work , flexible, support","good,work, flexible,good support, good team work"
2,"supervising the manufacturing the processes, e...",this company is a best opportunity for me to l...,"monthly target work,maintain production schedu..."
3,terrible,i wish there were some to list,too many to list here
4,"it could be so good, but it isnt",fast paced. endless challenges. inclusive envi...,the biggest perk of the job provides no value ...
5,good enough,"discounts, benefits, life long friends.","drama, playing favorites, low pay"
6,dont trust hr and that provide you the tools t...,"pay was not bad, tickets were nice if your fan...",never have i worked in such toxic environment ...
7,its okay....just okay,free tickets and other perks.,"low salary, overreach on worklife balance"
8,such a great environment!,"atmosphere, coworkers, perks and development!","no cons, such a great environment to work in"
9,good job for part timers,watch games for free depending where you are s...,"pay is minimum wage, no pay raises,"

In [35]:
# Filter rows where all three columns have "Unknown"
unknown_rows = df[(df['title'] == "Unknown") & (df['pros'] == "Unknown") & (df['cons'] == "Unknown")]

# Display sample rows
print("Sample rows where title, pros, and cons are all 'Unknown':")
unknown_rows.head(10)  # Show first 10 rows

Sample rows where title, pros, and cons are all 'Unknown':

Empty DataFrame
Columns: [rating, title, status, pros, cons, Career Opportunities, Compensation and Benefits, Senior Management, Work/Life Balance, Culture & Values, Diversity & Inclusion, date, job, recommend, ceo_approval, business_outlook, company_name, employment_status, experience_years]
Index: []

In [36]:
# Count the number of rows where all three columns are "Unknown"
unknown_count = unknown_rows.shape[0]
print(f"Total rows where title, pros, and cons are all 'Unknown': {unknown_count}")

Total rows where title, pros, and cons are all 'Unknown': 0

In [37]:
df.shape

(9901638, 19)

In [38]:
# Drop rows where all three columns are "Unknown"
df = df[~((df['title'] == "Unknown") & (df['pros'] == "Unknown") & (df['cons'] == "Unknown"))]

print(f"Total rows after cleaning: {df.shape[0]}")

Total rows after cleaning: 9901638

In [39]:
# Drop the 'status' column as it is no longer needed
df.drop(columns=['status'], inplace=True, errors='ignore')

# Verify that the column has been removed
print(df.info())

<class 'pandas.core.frame.DataFrame'>
Index: 9901638 entries, 0 to 9901888
Data columns (total 18 columns):
 #   Column                     Dtype
---  ------                     -----
 0   rating                     float64
 1   title                      object
 2   pros                       object
 3   cons                       object
 4   Career Opportunities       float64
 5   Compensation and Benefits  float64
 6   Senior Management          float64
 7   Work/Life Balance          float64
 8   Culture & Values           float64
 9   Diversity & Inclusion      float64
 10  date                       datetime64[ns]
 11  job                        object
 12  recommend                  category
 13  ceo_approval               category
 14  business_outlook           category
 15  company_name               object
 16  employment_status          object
 17  experience_years           float64
dtypes: category(3), datetime64[ns](1), float64(8), object(6)
memory usage: 1.2+ GB
None

In [40]:
# Rearranging column order
new_column_order = [
    "date", "company_name", "job", "employment_status", "experience_years",  # Employee Info
    "title", "rating", "pros", "cons",  # Review Details
    "Career Opportunities", "Compensation and Benefits", "Senior Management",  # Ratings
    "Work/Life Balance", "Culture & Values", "Diversity & Inclusion",  # More Ratings
    "recommend", "ceo_approval", "business_outlook"  # Recommendation & Outlook
]

# Reorder the DataFrame columns
df = df[new_column_order]

# Verify the new column order
df.head(3)

,date,company_name,job,employment_status,experience_years,title,rating,pros,cons,Career Opportunities,Compensation and Benefits,Senior Management,Work/Life Balance,Culture & Values,Diversity & Inclusion,recommend,ceo_approval,business_outlook
0,2022-11-19,Baja Steel and Fence,Manager Design,Current Employee,10.0,good,5.0,knowledge gain of complete project,financial growth and personal growth,3.0,3.0,3.0,3.0,3.0,3.0,True,False,True
1,2022-01-29,Baja Steel and Fence,Anonymous Employee,Former Employee,1.0,good,4.0,"good work,good work , flexible, support","good,work, flexible,good support, good team work",4.0,4.0,4.0,4.0,4.0,4.0,True,False,False
2,2021-08-12,Baja Steel and Fence,Production Engineer,Current Employee,1.0,"supervising the manufacturing the processes, e...",4.0,this company is a best opportunity for me to l...,"monthly target work,maintain production schedu...",2.0,3.0,2.0,2.0,2.0,2.0,True,False,True

In [41]:
# Dictionary to rename columns (Edit as needed)
column_mapping = {
    "Career Opportunities": "career_opportunities",
    "Compensation and Benefits": "compensation_benefits",
    "Senior Management": "senior_management",
    "Work/Life Balance": "work_life_balance",
    "Culture & Values": "culture_values",
    "Diversity & Inclusion": "diversity_inclusion",
    "recommend": "recommendation",
    "ceo_approval": "ceo_approval",
    "business_outlook": "business_outlook",
    "company_name": "company",
    "employment_status": "employment_status",
    "experience_years": "years_experience",
    "job": "job_title",
    "title": "review_title",
    "pros": "positives",
    "cons": "negatives",
    "date": "review_date",
    "rating": "overall_rating"
}


# Apply renaming only for existing columns
df.rename(columns=column_mapping, inplace=True)

# Display updated column names
print(" Column names updated successfully!")
print(df.columns)
df.head(2)

 Column names updated successfully!
Index(['review_date', 'company', 'job_title', 'employment_status',
       'years_experience', 'review_title', 'overall_rating', 'positives',
       'negatives', 'career_opportunities', 'compensation_benefits',
       'senior_management', 'work_life_balance', 'culture_values',
       'diversity_inclusion', 'recommendation', 'ceo_approval',
       'business_outlook'],
      dtype='object')

,review_date,company,job_title,employment_status,years_experience,review_title,overall_rating,positives,negatives,career_opportunities,compensation_benefits,senior_management,work_life_balance,culture_values,diversity_inclusion,recommendation,ceo_approval,business_outlook
0,2022-11-19,Baja Steel and Fence,Manager Design,Current Employee,10.0,good,5.0,knowledge gain of complete project,financial growth and personal growth,3.0,3.0,3.0,3.0,3.0,3.0,True,False,True
1,2022-01-29,Baja Steel and Fence,Anonymous Employee,Former Employee,1.0,good,4.0,"good work,good work , flexible, support","good,work, flexible,good support, good team work",4.0,4.0,4.0,4.0,4.0,4.0,True,False,False

In [42]:
# Replace blank job titles with "Unknown"
df['job_title'] = df['job_title'].apply(lambda x: "Unknown" if str(x).strip() == "" else x)

# Verify the changes
print(f"Total missing job titles: {df['job_title'].isnull().sum()}")
print(df['job_title'].value_counts().head(10))  # Check most common job titles

Total missing job titles: 0
job_title
 Anonymous Employee                 1704837
Unknown                              682940
 Sales Associate                     155604
 Software Engineer                   147929
 Manager                             127787
 Cashier                              96628
 Customer Service Representative      91979
 Senior Software Engineer             76177
 Associate                            68661
 Assistant Manager                    68181
Name: count, dtype: int64

In [69]:
print(df['review_date'].head(10))
print(df['review_date'].dtype)
# Convert nanosecond timestamps to standard datetime format
df['review_date'] = pd.to_datetime(df['review_date'], errors='coerce')  # Convert to datetime
df['review_date'] = df['review_date'].dt.strftime('%Y-%m-%d %H:%M:%S')  # Format for MySQL
print(df[['review_date']].head(10)) 
print(df['review_date'].dtype)

0    2022-11-19 00:00:00
1    2022-01-29 00:00:00
2    2021-08-12 00:00:00
3    2020-09-24 00:00:00
4    2023-03-25 00:00:00
5    2023-04-06 00:00:00
6    2022-10-29 00:00:00
7    2023-02-02 00:00:00
8    2023-01-17 00:00:00
9    2022-08-17 00:00:00
Name: review_date, dtype: object
object
           review_date
0  2022-11-19 00:00:00
1  2022-01-29 00:00:00
2  2021-08-12 00:00:00
3  2020-09-24 00:00:00
4  2023-03-25 00:00:00
5  2023-04-06 00:00:00
6  2022-10-29 00:00:00
7  2023-02-02 00:00:00
8  2023-01-17 00:00:00
9  2022-08-17 00:00:00
object

#### Formating text data in columns

In [73]:
def clean_company_name(name):
    if pd.isna(name) or name.strip() == "":
        return "Unknown"
    name = name.strip().lower()  # Convert to lowercase and strip spaces
    name = re.sub(r'[^a-zA-Z0-9& ]', '', name)  # Remove special characters except &
    name = re.sub(r'\s+', ' ', name)  # Remove extra spaces
    return name.title()  # Convert to title case for consistency

# Function to clean review titles
def clean_review_title(title):
    if pd.isna(title) or title.strip() == "":
        return "No Title Provided"
    title = title.strip().lower()  # Convert to lowercase and strip spaces
    title = re.sub(r'[^a-zA-Z0-9,.!? ]', '', title)  # Remove special characters
    title = re.sub(r'\s+', ' ', title)  # Remove extra spaces
    return title.capitalize()  # Capitalize first letter

# Apply the cleaning functions
df['company'] = df['company'].apply(clean_company_name)
df['review_title'] = df['review_title'].apply(clean_review_title)

# Verify the cleaning
print(df[['company', 'review_title']].head(10))

                company                                       review_title
0  Baja Steel And Fence                                               Good
1  Baja Steel And Fence                                               Good
2  Baja Steel And Fence  Supervising the manufacturing the processes, e...
3        Calgary Flames                                           Terrible
4        Calgary Flames                   It could be so good, but it isnt
5        Calgary Flames                                        Good enough
6        Calgary Flames  Dont trust hr and that provide you the tools t...
7        Calgary Flames                              Its okay....just okay
8        Calgary Flames                          Such a great environment!
9        Calgary Flames                           Good job for part timers

In [102]:
# 1 Get Total Number of Reviews
total_reviews = len(df)

# 2 Get the Most Reviewed Companies
most_reviewed_companies = df['company'].value_counts().head(10)

# 3 Get the Average Rating of Each Company
avg_company_rating = df.groupby('company')['overall_rating'].mean().sort_values(ascending=False).head(10)

# 4 Get the Most Common Job Titles
most_common_jobs = df['job_title'].value_counts().head(10)

# 5 Get the Best Companies Based on Work-Life Balance
best_work_life_companies = df.groupby('company')['work_life_balance'].mean().sort_values(ascending=False).head(10)

# Display results
print("1 Total Number of Reviews:")
print(total_reviews)

print("\n2 Most Reviewed Companies:")
print(most_reviewed_companies)

print("\n3 Average Rating of Each Company:")
print(avg_company_rating)

print("\n4 Most Common Job Titles:")
print(most_common_jobs)

print("\n5 Best Companies Based on Work-Life Balance:")
print(best_work_life_companies)

1 Total Number of Reviews:
9901638

2 Most Reviewed Companies:
company
Amazon                            163393
Tata Consultancy Services         107215
Walmart                           102151
Cognizant Technology Solutions     84166
Mcdonald S                         76776
Accenture                          69023
Target                             67884
Hp Inc                             63787
General Motors Gm                  57321
Starbucks                          55325
Name: count, dtype: int64

3 Average Rating of Each Company:
company
Covid 19Contactsorg                   5.0
Soul Smart Solutions                  5.0
Ats Warehouse                         5.0
North Port Fire Rescue District       5.0
Optional Tech Assist                  5.0
Eqs Placements                        5.0
Utv Headquarters                      5.0
Central Oregon Coast Fire & Rescue    5.0
Utiltyx                               5.0
Attitude Counts                       5.0
Name: overall_rating, dtype: float64

4 Most Common Job Titles:
job_title
 Anonymous Employee                 1704837
Unknown                              682940
 Sales Associate                     155604
 Software Engineer                   147929
 Manager                             127787
 Cashier                              96628
 Customer Service Representative      91979
 Senior Software Engineer             76177
 Associate                            68661
 Assistant Manager                    68181
Name: count, dtype: int64

5 Best Companies Based on Work-Life Balance:
company
Natserv                          5.0
Bobbin                           5.0
Etelos                           5.0
Bluestone Brothers               5.0
Sutrak Corp                      5.0
Sustainable Design Consulting    5.0
Surreel Films                    5.0
Estudios Valentim De Carvalho    5.0
Bmw Imaging Systems              5.0
Estrella Cuadernos               5.0
Name: work_life_balance, dtype: float64

In [93]:
max_length = df['job_title'].str.len().max()
print(f"Maximum job title length: {max_length}")

Maximum job title length: 110

In [106]:
# Filter job titles that are longer than 50 characters
long_job_titles = df[df['job_title'].str.len() > 40][['job_title']]

# Display the results
print("Job Titles Longer Than 50 Characters:")
print(long_job_titles.head(30))  # Show first 20 results for preview

# Count how many job titles exceed 50 characters
count_long_titles = len(long_job_titles)
print(f"\nTotal number of job titles longer than 50 characters: {count_long_titles}")

Job Titles Longer Than 50 Characters:
                                              job_title
202         Assistant Vice President Service Operations
442      Associate Manager, Advisory Network Workspaces
608         Customer Service Representative (Bilingual)
737    Intermediate Systems Operations Support Speci...
995    Direct Marketing Department, and Retirement I...
1042   Disability Case Manager (DMSO) (Since April o...
1107        Performance, Design and Improvement Analyst
1136   Administrative Support Assistant/Intake Admin...
1469           Client Onboarding and Support Specialist
1701      Senior Global Accounts Support Representative
1794     Executive Assistant to Chief Financial Officer
1942       Software Development Engineer In Test (SDET)
1949       Senior Software Development Engineer In Test
1996   Floor Staff (Box Office Cashier, Concessions,...
2016    Support Staff/Company Health and Wellness Coach
2574   Social Media Coordinator/Customer Service Rep...
2889       Drive Train Actuator Design Engineer/Manager
3223       Architectural/Structural CAD Technician Lead
3535        Senior Account Manager/Business Development
5151          Head Cashier/Customer Service/Cash Office
5183           Cosmetic Supervisor Cashier/Door Checker
5738   Regional Call Center, Registered Nurse Coordi...
5792        "Responsable Legal, Financiero Y De RR HH "
5799         Membership Benefits and Promotions Manager
6031       Human Resources Coordinator (HR Coordinator)
6156         Human Resources Specialist (HR Specialist)
6391       Adjunct Instructor of Graphic Design Present
6627   Administrative Assistant%2FMedical Support As...
6666         Senior Environmental Health Officer/CAPT O
7496   Customer Service Specialist With Foreign Lang...

Total number of job titles longer than 50 characters: 62562

In [107]:
# Reducing th ejob title length to less than 40
df['job_title'] = df['job_title'].str[:40] + "..."

In [108]:
df['job_title'] = df['job_title'].str.replace('%2F', '/').str.replace('"', '').str.strip()

In [109]:
print(df[['job_title']].head(10))  # Preview first 10 job titles
print(f"Max job title length: {df['job_title'].str.len().max()}")  # Confirm max length

                     job_title
0            Manager Design...
1        Anonymous Employee...
2       Production Engineer...
3  Senior Account Executive...
4         Assistant Manager...
5          Floor Supervisor...
6        Anonymous Employee...
7           Account Manager...
8                 Marketing...
9            Security Guard...
Max job title length: 42

### EDA Exploratory Data Analysis

In [43]:
df.head(2)

,review_date,company,job_title,employment_status,years_experience,review_title,overall_rating,positives,negatives,career_opportunities,compensation_benefits,senior_management,work_life_balance,culture_values,diversity_inclusion,recommendation,ceo_approval,business_outlook
0,2022-11-19,Baja Steel and Fence,Manager Design,Current Employee,10.0,good,5.0,knowledge gain of complete project,financial growth and personal growth,3.0,3.0,3.0,3.0,3.0,3.0,True,False,True
1,2022-01-29,Baja Steel and Fence,Anonymous Employee,Former Employee,1.0,good,4.0,"good work,good work , flexible, support","good,work, flexible,good support, good team work",4.0,4.0,4.0,4.0,4.0,4.0,True,False,False

### Sending the data into SQL using SQLAlchemy

In [116]:

import mysql.connector

host = "10.48.122.213" 
port = 3307
user = "root"
password = "lokesh0204@B"
database = "glassdoor_db"

try:
    conn = mysql.connector.connect(
        host=host,
        port=port,
        user=user,
        password=password,
        database=database
    )
    cursor = conn.cursor()
    cursor.execute("SHOW TABLES;")
    tables = cursor.fetchall()
    print("Connected to MySQL! Tables in database:", tables)
except mysql.connector.Error as err:
    print(f" Connection failed: {err}")

Connected to MySQL! Tables in database: [('glassdoor_reviews',)]

In [117]:
cursor.execute("SELECT COUNT(*) FROM glassdoor_reviews;")
record_count = cursor.fetchone()[0]
print(f"Total records in glassdoor_reviews: {record_count}")

cursor.execute("SELECT * FROM glassdoor_reviews LIMIT 5;")
sample_rows = cursor.fetchall()
for row in sample_rows:
    print(row)

Total records in glassdoor_reviews: 0

In [118]:
import sqlalchemy
import pandas as pd

print("SQLAlchemy and Pandas are installed correctly!")

SQLAlchemy and Pandas are installed correctly!

In [111]:
data_tuples = df.to_records(index=False).tolist()

In [119]:
# # Reconnect to MySQL
# conn = mysql.connector.connect(
#     host="10.48.122.213",
#     port=3307,
#     user="root",
#     password="lokesh0204@B",
#    database="glassdoor_db"
# )
cursor = conn.cursor()

# Define batch size
batch_size = 10000  

# Generate INSERT SQL query
columns = ",".join([f"`{col}`" for col in df.columns]) 
values_placeholder = ",".join(["%s"] * len(df.columns))
sql_query = f"INSERT INTO glassdoor_reviews ({columns}) VALUES ({values_placeholder})"

# Insert data in batches
for i in range(0, len(data_tuples), batch_size):
    batch = data_tuples[i:i + batch_size]
    cursor.executemany(sql_query, batch)
    conn.commit()
    print(f" Inserted {i + batch_size} rows successfully...")


print(" Upload Completed!")

 Inserted 10000 rows successfully...
 Inserted 20000 rows successfully...
 Inserted 30000 rows successfully...
 Inserted 40000 rows successfully...
 Inserted 50000 rows successfully...
 Inserted 60000 rows successfully...
 Inserted 70000 rows successfully...
 Inserted 80000 rows successfully...
 Inserted 90000 rows successfully...
 Inserted 100000 rows successfully...
 Inserted 110000 rows successfully...
 Inserted 120000 rows successfully...
 Inserted 130000 rows successfully...
 Inserted 140000 rows successfully...
 Inserted 150000 rows successfully...
 Inserted 160000 rows successfully...
 Inserted 170000 rows successfully...
 Inserted 180000 rows successfully...
 Inserted 190000 rows successfully...
 Inserted 200000 rows successfully...
 Inserted 210000 rows successfully...
 Inserted 220000 rows successfully...
 Inserted 230000 rows successfully...
 Inserted 240000 rows successfully...
 Inserted 250000 rows successfully...
 Inserted 260000 rows successfully...
 Inserted 270000 rows successfully...
 Inserted 280000 rows successfully...
 Inserted 290000 rows successfully...
 Inserted 300000 rows successfully...
 Inserted 310000 rows successfully...
 Inserted 320000 rows successfully...
 Inserted 330000 rows successfully...
 Inserted 340000 rows successfully...
 Inserted 350000 rows successfully...
 Inserted 360000 rows successfully...
 Inserted 370000 rows successfully...
 Inserted 380000 rows successfully...
 Inserted 390000 rows successfully...
 Inserted 400000 rows successfully...
 Inserted 410000 rows successfully...
 Inserted 420000 rows successfully...
 Inserted 430000 rows successfully...
 Inserted 440000 rows successfully...
 Inserted 450000 rows successfully...
 Inserted 460000 rows successfully...
 Inserted 470000 rows successfully...
 Inserted 480000 rows successfully...
 Inserted 490000 rows successfully...
 Inserted 500000 rows successfully...
 Inserted 510000 rows successfully...
 Inserted 520000 rows successfully...
 Inserted 530000 rows successfully...
 Inserted 540000 rows successfully...
 Inserted 550000 rows successfully...
 Inserted 560000 rows successfully...
 Inserted 570000 rows successfully...
 Inserted 580000 rows successfully...
 Inserted 590000 rows successfully...
 Inserted 600000 rows successfully...
 Inserted 610000 rows successfully...
 Inserted 620000 rows successfully...
 Inserted 630000 rows successfully...
 Inserted 640000 rows successfully...
 Inserted 650000 rows successfully...
 Inserted 660000 rows successfully...
 Inserted 670000 rows successfully...
 Inserted 680000 rows successfully...
 Inserted 690000 rows successfully...
 Inserted 700000 rows successfully...
 Inserted 710000 rows successfully...
 Inserted 720000 rows successfully...
 Inserted 730000 rows successfully...
 Inserted 740000 rows successfully...
 Inserted 750000 rows successfully...
 Inserted 760000 rows successfully...
 Inserted 770000 rows successfully...
 Inserted 780000 rows successfully...
 Inserted 790000 rows successfully...
 Inserted 800000 rows successfully...
 Inserted 810000 rows successfully...
 Inserted 820000 rows successfully...
 Inserted 830000 rows successfully...
 Inserted 840000 rows successfully...
 Inserted 850000 rows successfully...
 Inserted 860000 rows successfully...
 Inserted 870000 rows successfully...
 Inserted 880000 rows successfully...
 Inserted 890000 rows successfully...
 Inserted 900000 rows successfully...
 Inserted 910000 rows successfully...
 Inserted 920000 rows successfully...
 Inserted 930000 rows successfully...
 Inserted 940000 rows successfully...
 Inserted 950000 rows successfully...
 Inserted 960000 rows successfully...
 Inserted 970000 rows successfully...
 Inserted 980000 rows successfully...
 Inserted 990000 rows successfully...
 Inserted 1000000 rows successfully...
 Inserted 1010000 rows successfully...
 Inserted 1020000 rows successfully...
 Inserted 1030000 rows successfully...
 Inserted 1040000 rows successfully...
 Inserted 1050000 rows successfully...
 Inserted 1060000 rows successfully...
 Inserted 1070000 rows successfully...
 Inserted 1080000 rows successfully...
 Inserted 1090000 rows successfully...
 Inserted 1100000 rows successfully...
 Inserted 1110000 rows successfully...
 Inserted 1120000 rows successfully...
 Inserted 1130000 rows successfully...
 Inserted 1140000 rows successfully...
 Inserted 1150000 rows successfully...
 Inserted 1160000 rows successfully...
 Inserted 1170000 rows successfully...
 Inserted 1180000 rows successfully...
 Inserted 1190000 rows successfully...
 Inserted 1200000 rows successfully...
 Inserted 1210000 rows successfully...
 Inserted 1220000 rows successfully...
 Inserted 1230000 rows successfully...
 Inserted 1240000 rows successfully...
 Inserted 1250000 rows successfully...
 Inserted 1260000 rows successfully...
 Inserted 1270000 rows successfully...
 Inserted 1280000 rows successfully...
 Inserted 1290000 rows successfully...
 Inserted 1300000 rows successfully...
 Inserted 1310000 rows successfully...
 Inserted 1320000 rows successfully...
 Inserted 1330000 rows successfully...
 Inserted 1340000 rows successfully...
 Inserted 1350000 rows successfully...
 Inserted 1360000 rows successfully...
 Inserted 1370000 rows successfully...
 Inserted 1380000 rows successfully...
 Inserted 1390000 rows successfully...
 Inserted 1400000 rows successfully...
 Inserted 1410000 rows successfully...
 Inserted 1420000 rows successfully...
 Inserted 1430000 rows successfully...
 Inserted 1440000 rows successfully...
 Inserted 1450000 rows successfully...
 Inserted 1460000 rows successfully...
 Inserted 1470000 rows successfully...
 Inserted 1480000 rows successfully...
 Inserted 1490000 rows successfully...
 Inserted 1500000 rows successfully...
 Inserted 1510000 rows successfully...
 Inserted 1520000 rows successfully...
 Inserted 1530000 rows successfully...
 Inserted 1540000 rows successfully...
 Inserted 1550000 rows successfully...
 Inserted 1560000 rows successfully...
 Inserted 1570000 rows successfully...
 Inserted 1580000 rows successfully...
 Inserted 1590000 rows successfully...
 Inserted 1600000 rows successfully...
 Inserted 1610000 rows successfully...
 Inserted 1620000 rows successfully...
 Inserted 1630000 rows successfully...
 Inserted 1640000 rows successfully...
 Inserted 1650000 rows successfully...
 Inserted 1660000 rows successfully...
 Inserted 1670000 rows successfully...
 Inserted 1680000 rows successfully...
 Inserted 1690000 rows successfully...
 Inserted 1700000 rows successfully...
 Inserted 1710000 rows successfully...
 Inserted 1720000 rows successfully...
 Inserted 1730000 rows successfully...
 Inserted 1740000 rows successfully...
 Inserted 1750000 rows successfully...
 Inserted 1760000 rows successfully...
 Inserted 1770000 rows successfully...
 Inserted 1780000 rows successfully...
 Inserted 1790000 rows successfully...
 Inserted 1800000 rows successfully...
 Inserted 1810000 rows successfully...
 Inserted 1820000 rows successfully...
 Inserted 1830000 rows successfully...
 Inserted 1840000 rows successfully...
 Inserted 1850000 rows successfully...
 Inserted 1860000 rows successfully...
 Inserted 1870000 rows successfully...
 Inserted 1880000 rows successfully...
 Inserted 1890000 rows successfully...
 Inserted 1900000 rows successfully...
 Inserted 1910000 rows successfully...
 Inserted 1920000 rows successfully...
 Inserted 1930000 rows successfully...
 Inserted 1940000 rows successfully...
 Inserted 1950000 rows successfully...
 Inserted 1960000 rows successfully...
 Inserted 1970000 rows successfully...
 Inserted 1980000 rows successfully...
 Inserted 1990000 rows successfully...
 Inserted 2000000 rows successfully...
 Inserted 2010000 rows successfully...
 Inserted 2020000 rows successfully...
 Inserted 2030000 rows successfully...
 Inserted 2040000 rows successfully...
 Inserted 2050000 rows successfully...
 Inserted 2060000 rows successfully...
 Inserted 2070000 rows successfully...
 Inserted 2080000 rows successfully...
 Inserted 2090000 rows successfully...
 Inserted 2100000 rows successfully...
 Inserted 2110000 rows successfully...
 Inserted 2120000 rows successfully...
 Inserted 2130000 rows successfully...

 Inserted 2140000 rows successfully...
 Inserted 2150000 rows successfully...
 Inserted 2160000 rows successfully...
 Inserted 2170000 rows successfully...
 Inserted 2180000 rows successfully...
 Inserted 2190000 rows successfully...
 Inserted 2200000 rows successfully...
 Inserted 2210000 rows successfully...
 Inserted 2220000 rows successfully...
 Inserted 2230000 rows successfully...
 Inserted 2240000 rows successfully...
 Inserted 2250000 rows successfully...
 Inserted 2260000 rows successfully...
 Inserted 2270000 rows successfully...
 Inserted 2280000 rows successfully...
 Inserted 2290000 rows successfully...
 Inserted 2300000 rows successfully...
 Inserted 2310000 rows successfully...
 Inserted 2320000 rows successfully...
 Inserted 2330000 rows successfully...
 Inserted 2340000 rows successfully...
 Inserted 2350000 rows successfully...
 Inserted 2360000 rows successfully...
 Inserted 2370000 rows successfully...
 Inserted 2380000 rows successfully...
 Inserted 2390000 rows successfully...
 Inserted 2400000 rows successfully...
 Inserted 2410000 rows successfully...
 Inserted 2420000 rows successfully...
 Inserted 2430000 rows successfully...
 Inserted 2440000 rows successfully...
 Inserted 2450000 rows successfully...
 Inserted 2460000 rows successfully...
 Inserted 2470000 rows successfully...
 Inserted 2480000 rows successfully...
 Inserted 2490000 rows successfully...
 Inserted 2500000 rows successfully...
 Inserted 2510000 rows successfully...
 Inserted 2520000 rows successfully...
 Inserted 2530000 rows successfully...
 Inserted 2540000 rows successfully...
 Inserted 2550000 rows successfully...
 Inserted 2560000 rows successfully...
 Inserted 2570000 rows successfully...
 Inserted 2580000 rows successfully...
 Inserted 2590000 rows successfully...
 Inserted 2600000 rows successfully...
 Inserted 2610000 rows successfully...
 Inserted 2620000 rows successfully...
 Inserted 2630000 rows successfully...
 Inserted 2640000 rows successfully...
 Inserted 2650000 rows successfully...
 Inserted 2660000 rows successfully...
 Inserted 2670000 rows successfully...
 Inserted 2680000 rows successfully...
 Inserted 2690000 rows successfully...
 Inserted 2700000 rows successfully...
 Inserted 2710000 rows successfully...
 Inserted 2720000 rows successfully...
 Inserted 2730000 rows successfully...
 Inserted 2740000 rows successfully...
 Inserted 2750000 rows successfully...
 Inserted 2760000 rows successfully...
 Inserted 2770000 rows successfully...
 Inserted 2780000 rows successfully...
 Inserted 2790000 rows successfully...
 Inserted 2800000 rows successfully...
 Inserted 2810000 rows successfully...
 Inserted 2820000 rows successfully...
 Inserted 2830000 rows successfully...
 Inserted 2840000 rows successfully...
 Inserted 2850000 rows successfully...
 Inserted 2860000 rows successfully...
 Inserted 2870000 rows successfully...
 Inserted 2880000 rows successfully...
 Inserted 2890000 rows successfully...
 Inserted 2900000 rows successfully...
 Inserted 2910000 rows successfully...
 Inserted 2920000 rows successfully...
 Inserted 2930000 rows successfully...
 Inserted 2940000 rows successfully...
 Inserted 2950000 rows successfully...
 Inserted 2960000 rows successfully...
 Inserted 2970000 rows successfully...
 Inserted 2980000 rows successfully...
 Inserted 2990000 rows successfully...
 Inserted 3000000 rows successfully...
 Inserted 3010000 rows successfully...
 Inserted 3020000 rows successfully...
 Inserted 3030000 rows successfully...
 Inserted 3040000 rows successfully...
 Inserted 3050000 rows successfully...
 Inserted 3060000 rows successfully...
 Inserted 3070000 rows successfully...
 Inserted 3080000 rows successfully...
 Inserted 3090000 rows successfully...
 Inserted 3100000 rows successfully...
 Inserted 3110000 rows successfully...
 Inserted 3120000 rows successfully...
 Inserted 3130000 rows successfully...
 Inserted 3140000 rows successfully...
 Inserted 3150000 rows successfully...
 Inserted 3160000 rows successfully...
 Inserted 3170000 rows successfully...
 Inserted 3180000 rows successfully...
 Inserted 3190000 rows successfully...
 Inserted 3200000 rows successfully...
 Inserted 3210000 rows successfully...
 Inserted 3220000 rows successfully...
 Inserted 3230000 rows successfully...
 Inserted 3240000 rows successfully...
 Inserted 3250000 rows successfully...
 Inserted 3260000 rows successfully...
 Inserted 3270000 rows successfully...
 Inserted 3280000 rows successfully...
 Inserted 3290000 rows successfully...
 Inserted 3300000 rows successfully...
 Inserted 3310000 rows successfully...
 Inserted 3320000 rows successfully...
 Inserted 3330000 rows successfully...
 Inserted 3340000 rows successfully...
 Inserted 3350000 rows successfully...
 Inserted 3360000 rows successfully...
 Inserted 3370000 rows successfully...
 Inserted 3380000 rows successfully...
 Inserted 3390000 rows successfully...
 Inserted 3400000 rows successfully...
 Inserted 3410000 rows successfully...
 Inserted 3420000 rows successfully...
 Inserted 3430000 rows successfully...
 Inserted 3440000 rows successfully...
 Inserted 3450000 rows successfully...
 Inserted 3460000 rows successfully...
 Inserted 3470000 rows successfully...
 Inserted 3480000 rows successfully...
 Inserted 3490000 rows successfully...
 Inserted 3500000 rows successfully...
 Inserted 3510000 rows successfully...
 Inserted 3520000 rows successfully...
 Inserted 3530000 rows successfully...
 Inserted 3540000 rows successfully...
 Inserted 3550000 rows successfully...
 Inserted 3560000 rows successfully...
 Inserted 3570000 rows successfully...
 Inserted 3580000 rows successfully...
 Inserted 3590000 rows successfully...
 Inserted 3600000 rows successfully...
 Inserted 3610000 rows successfully...
 Inserted 3620000 rows successfully...
 Inserted 3630000 rows successfully...
 Inserted 3640000 rows successfully...
 Inserted 3650000 rows successfully...
 Inserted 3660000 rows successfully...
 Inserted 3670000 rows successfully...
 Inserted 3680000 rows successfully...
 Inserted 3690000 rows successfully...
 Inserted 3700000 rows successfully...
 Inserted 3710000 rows successfully...
 Inserted 3720000 rows successfully...
 Inserted 3730000 rows successfully...
 Inserted 3740000 rows successfully...
 Inserted 3750000 rows successfully...
 Inserted 3760000 rows successfully...
 Inserted 3770000 rows successfully...
 Inserted 3780000 rows successfully...
 Inserted 3790000 rows successfully...
 Inserted 3800000 rows successfully...
 Inserted 3810000 rows successfully...
 Inserted 3820000 rows successfully...
 Inserted 3830000 rows successfully...
 Inserted 3840000 rows successfully...
 Inserted 3850000 rows successfully...
 Inserted 3860000 rows successfully...
 Inserted 3870000 rows successfully...
 Inserted 3880000 rows successfully...
 Inserted 3890000 rows successfully...
 Inserted 3900000 rows successfully...
 Inserted 3910000 rows successfully...
 Inserted 3920000 rows successfully...
 Inserted 3930000 rows successfully...
 Inserted 3940000 rows successfully...
 Inserted 3950000 rows successfully...
 Inserted 3960000 rows successfully...
 Inserted 3970000 rows successfully...
 Inserted 3980000 rows successfully...
 Inserted 3990000 rows successfully...
 Inserted 4000000 rows successfully...
 Inserted 4010000 rows successfully...
 Inserted 4020000 rows successfully...
 Inserted 4030000 rows successfully...
 Inserted 4040000 rows successfully...
 Inserted 4050000 rows successfully...
 Inserted 4060000 rows successfully...
 Inserted 4070000 rows successfully...
 Inserted 4080000 rows successfully...
 Inserted 4090000 rows successfully...
 Inserted 4100000 rows successfully...
 Inserted 4110000 rows successfully...
 Inserted 4120000 rows successfully...
 Inserted 4130000 rows successfully...
 Inserted 4140000 rows successfully...
 Inserted 4150000 rows successfully...
 Inserted 4160000 rows successfully...
 Inserted 4170000 rows successfully...
 Inserted 4180000 rows successfully...
 Inserted 4190000 rows successfully...
 Inserted 4200000 rows successfully...
 Inserted 4210000 rows successfully...
 Inserted 4220000 rows successfully...
 Inserted 4230000 rows successfully...
 Inserted 4240000 rows successfully...

 Inserted 4250000 rows successfully...
 Inserted 4260000 rows successfully...
 Inserted 4270000 rows successfully...
 Inserted 4280000 rows successfully...
 Inserted 4290000 rows successfully...
 Inserted 4300000 rows successfully...
 Inserted 4310000 rows successfully...
 Inserted 4320000 rows successfully...
 Inserted 4330000 rows successfully...
 Inserted 4340000 rows successfully...
 Inserted 4350000 rows successfully...
 Inserted 4360000 rows successfully...
 Inserted 4370000 rows successfully...
 Inserted 4380000 rows successfully...
 Inserted 4390000 rows successfully...
 Inserted 4400000 rows successfully...
 Inserted 4410000 rows successfully...
 Inserted 4420000 rows successfully...
 Inserted 4430000 rows successfully...
 Inserted 4440000 rows successfully...
 Inserted 4450000 rows successfully...
 Inserted 4460000 rows successfully...
 Inserted 4470000 rows successfully...
 Inserted 4480000 rows successfully...
 Inserted 4490000 rows successfully...
 Inserted 4500000 rows successfully...
 Inserted 4510000 rows successfully...
 Inserted 4520000 rows successfully...
 Inserted 4530000 rows successfully...
 Inserted 4540000 rows successfully...
 Inserted 4550000 rows successfully...
 Inserted 4560000 rows successfully...
 Inserted 4570000 rows successfully...
 Inserted 4580000 rows successfully...
 Inserted 4590000 rows successfully...
 Inserted 4600000 rows successfully...
 Inserted 4610000 rows successfully...
 Inserted 4620000 rows successfully...
 Inserted 4630000 rows successfully...
 Inserted 4640000 rows successfully...
 Inserted 4650000 rows successfully...
 Inserted 4660000 rows successfully...
 Inserted 4670000 rows successfully...
 Inserted 4680000 rows successfully...
 Inserted 4690000 rows successfully...
 Inserted 4700000 rows successfully...
 Inserted 4710000 rows successfully...
 Inserted 4720000 rows successfully...
 Inserted 4730000 rows successfully...
 Inserted 4740000 rows successfully...
 Inserted 4750000 rows successfully...
 Inserted 4760000 rows successfully...
 Inserted 4770000 rows successfully...
 Inserted 4780000 rows successfully...
 Inserted 4790000 rows successfully...
 Inserted 4800000 rows successfully...
 Inserted 4810000 rows successfully...
 Inserted 4820000 rows successfully...
 Inserted 4830000 rows successfully...
 Inserted 4840000 rows successfully...
 Inserted 4850000 rows successfully...
 Inserted 4860000 rows successfully...
 Inserted 4870000 rows successfully...
 Inserted 4880000 rows successfully...
 Inserted 4890000 rows successfully...
 Inserted 4900000 rows successfully...
 Inserted 4910000 rows successfully...
 Inserted 4920000 rows successfully...
 Inserted 4930000 rows successfully...
 Inserted 4940000 rows successfully...
 Inserted 4950000 rows successfully...
 Inserted 4960000 rows successfully...
 Inserted 4970000 rows successfully...
 Inserted 4980000 rows successfully...
 Inserted 4990000 rows successfully...
 Inserted 5000000 rows successfully...
 Inserted 5010000 rows successfully...
 Inserted 5020000 rows successfully...
 Inserted 5030000 rows successfully...
 Inserted 5040000 rows successfully...
 Inserted 5050000 rows successfully...
 Inserted 5060000 rows successfully...
 Inserted 5070000 rows successfully...
 Inserted 5080000 rows successfully...
 Inserted 5090000 rows successfully...
 Inserted 5100000 rows successfully...
 Inserted 5110000 rows successfully...
 Inserted 5120000 rows successfully...
 Inserted 5130000 rows successfully...
 Inserted 5140000 rows successfully...
 Inserted 5150000 rows successfully...
 Inserted 5160000 rows successfully...
 Inserted 5170000 rows successfully...
 Inserted 5180000 rows successfully...
 Inserted 5190000 rows successfully...
 Inserted 5200000 rows successfully...
 Inserted 5210000 rows successfully...
 Inserted 5220000 rows successfully...
 Inserted 5230000 rows successfully...
 Inserted 5240000 rows successfully...
 Inserted 5250000 rows successfully...
 Inserted 5260000 rows successfully...
 Inserted 5270000 rows successfully...
 Inserted 5280000 rows successfully...
 Inserted 5290000 rows successfully...
 Inserted 5300000 rows successfully...
 Inserted 5310000 rows successfully...
 Inserted 5320000 rows successfully...
 Inserted 5330000 rows successfully...
 Inserted 5340000 rows successfully...
 Inserted 5350000 rows successfully...
 Inserted 5360000 rows successfully...
 Inserted 5370000 rows successfully...
 Inserted 5380000 rows successfully...
 Inserted 5390000 rows successfully...
 Inserted 5400000 rows successfully...
 Inserted 5410000 rows successfully...
 Inserted 5420000 rows successfully...
 Inserted 5430000 rows successfully...
 Inserted 5440000 rows successfully...
 Inserted 5450000 rows successfully...
 Inserted 5460000 rows successfully...
 Inserted 5470000 rows successfully...
 Inserted 5480000 rows successfully...
 Inserted 5490000 rows successfully...
 Inserted 5500000 rows successfully...
 Inserted 5510000 rows successfully...
 Inserted 5520000 rows successfully...
 Inserted 5530000 rows successfully...
 Inserted 5540000 rows successfully...
 Inserted 5550000 rows successfully...
 Inserted 5560000 rows successfully...
 Inserted 5570000 rows successfully...
 Inserted 5580000 rows successfully...
 Inserted 5590000 rows successfully...
 Inserted 5600000 rows successfully...
 Inserted 5610000 rows successfully...
 Inserted 5620000 rows successfully...
 Inserted 5630000 rows successfully...
 Inserted 5640000 rows successfully...
 Inserted 5650000 rows successfully...
 Inserted 5660000 rows successfully...
 Inserted 5670000 rows successfully...
 Inserted 5680000 rows successfully...
 Inserted 5690000 rows successfully...
 Inserted 5700000 rows successfully...
 Inserted 5710000 rows successfully...
 Inserted 5720000 rows successfully...
 Inserted 5730000 rows successfully...
 Inserted 5740000 rows successfully...
 Inserted 5750000 rows successfully...
 Inserted 5760000 rows successfully...
 Inserted 5770000 rows successfully...
 Inserted 5780000 rows successfully...
 Inserted 5790000 rows successfully...
 Inserted 5800000 rows successfully...
 Inserted 5810000 rows successfully...
 Inserted 5820000 rows successfully...
 Inserted 5830000 rows successfully...
 Inserted 5840000 rows successfully...
 Inserted 5850000 rows successfully...
 Inserted 5860000 rows successfully...
 Inserted 5870000 rows successfully...
 Inserted 5880000 rows successfully...
 Inserted 5890000 rows successfully...
 Inserted 5900000 rows successfully...
 Inserted 5910000 rows successfully...
 Inserted 5920000 rows successfully...
 Inserted 5930000 rows successfully...
 Inserted 5940000 rows successfully...
 Inserted 5950000 rows successfully...
 Inserted 5960000 rows successfully...
 Inserted 5970000 rows successfully...
 Inserted 5980000 rows successfully...
 Inserted 5990000 rows successfully...
 Inserted 6000000 rows successfully...
 Inserted 6010000 rows successfully...
 Inserted 6020000 rows successfully...
 Inserted 6030000 rows successfully...
 Inserted 6040000 rows successfully...
 Inserted 6050000 rows successfully...
 Inserted 6060000 rows successfully...
 Inserted 6070000 rows successfully...
 Inserted 6080000 rows successfully...
 Inserted 6090000 rows successfully...
 Inserted 6100000 rows successfully...
 Inserted 6110000 rows successfully...
 Inserted 6120000 rows successfully...
 Inserted 6130000 rows successfully...
 Inserted 6140000 rows successfully...
 Inserted 6150000 rows successfully...
 Inserted 6160000 rows successfully...
 Inserted 6170000 rows successfully...
 Inserted 6180000 rows successfully...
 Inserted 6190000 rows successfully...
 Inserted 6200000 rows successfully...
 Inserted 6210000 rows successfully...
 Inserted 6220000 rows successfully...
 Inserted 6230000 rows successfully...
 Inserted 6240000 rows successfully...
 Inserted 6250000 rows successfully...
 Inserted 6260000 rows successfully...
 Inserted 6270000 rows successfully...
 Inserted 6280000 rows successfully...
 Inserted 6290000 rows successfully...
 Inserted 6300000 rows successfully...
 Inserted 6310000 rows successfully...
 Inserted 6320000 rows successfully...
 Inserted 6330000 rows successfully...
 Inserted 6340000 rows successfully...
 Inserted 6350000 rows successfully...

 Inserted 6360000 rows successfully...
 Inserted 6370000 rows successfully...
 Inserted 6380000 rows successfully...
 Inserted 6390000 rows successfully...
 Inserted 6400000 rows successfully...
 Inserted 6410000 rows successfully...
 Inserted 6420000 rows successfully...
 Inserted 6430000 rows successfully...
 Inserted 6440000 rows successfully...
 Inserted 6450000 rows successfully...
 Inserted 6460000 rows successfully...
 Inserted 6470000 rows successfully...
 Inserted 6480000 rows successfully...
 Inserted 6490000 rows successfully...
 Inserted 6500000 rows successfully...
 Inserted 6510000 rows successfully...
 Inserted 6520000 rows successfully...
 Inserted 6530000 rows successfully...
 Inserted 6540000 rows successfully...
 Inserted 6550000 rows successfully...
 Inserted 6560000 rows successfully...
 Inserted 6570000 rows successfully...
 Inserted 6580000 rows successfully...
 Inserted 6590000 rows successfully...
 Inserted 6600000 rows successfully...
 Inserted 6610000 rows successfully...
 Inserted 6620000 rows successfully...
 Inserted 6630000 rows successfully...
 Inserted 6640000 rows successfully...
 Inserted 6650000 rows successfully...
 Inserted 6660000 rows successfully...
 Inserted 6670000 rows successfully...
 Inserted 6680000 rows successfully...
 Inserted 6690000 rows successfully...
 Inserted 6700000 rows successfully...
 Inserted 6710000 rows successfully...
 Inserted 6720000 rows successfully...
 Inserted 6730000 rows successfully...
 Inserted 6740000 rows successfully...
 Inserted 6750000 rows successfully...
 Inserted 6760000 rows successfully...
 Inserted 6770000 rows successfully...
 Inserted 6780000 rows successfully...
 Inserted 6790000 rows successfully...
 Inserted 6800000 rows successfully...
 Inserted 6810000 rows successfully...
 Inserted 6820000 rows successfully...
 Inserted 6830000 rows successfully...
 Inserted 6840000 rows successfully...
 Inserted 6850000 rows successfully...
 Inserted 6860000 rows successfully...
 Inserted 6870000 rows successfully...
 Inserted 6880000 rows successfully...
 Inserted 6890000 rows successfully...
 Inserted 6900000 rows successfully...
 Inserted 6910000 rows successfully...
 Inserted 6920000 rows successfully...
 Inserted 6930000 rows successfully...
 Inserted 6940000 rows successfully...
 Inserted 6950000 rows successfully...
 Inserted 6960000 rows successfully...
 Inserted 6970000 rows successfully...
 Inserted 6980000 rows successfully...
 Inserted 6990000 rows successfully...
 Inserted 7000000 rows successfully...
 Inserted 7010000 rows successfully...
 Inserted 7020000 rows successfully...
 Inserted 7030000 rows successfully...
 Inserted 7040000 rows successfully...
 Inserted 7050000 rows successfully...
 Inserted 7060000 rows successfully...
 Inserted 7070000 rows successfully...
 Inserted 7080000 rows successfully...
 Inserted 7090000 rows successfully...
 Inserted 7100000 rows successfully...
 Inserted 7110000 rows successfully...
 Inserted 7120000 rows successfully...
 Inserted 7130000 rows successfully...
 Inserted 7140000 rows successfully...
 Inserted 7150000 rows successfully...
 Inserted 7160000 rows successfully...
 Inserted 7170000 rows successfully...
 Inserted 7180000 rows successfully...
 Inserted 7190000 rows successfully...
 Inserted 7200000 rows successfully...
 Inserted 7210000 rows successfully...
 Inserted 7220000 rows successfully...
 Inserted 7230000 rows successfully...
 Inserted 7240000 rows successfully...
 Inserted 7250000 rows successfully...
 Inserted 7260000 rows successfully...
 Inserted 7270000 rows successfully...
 Inserted 7280000 rows successfully...
 Inserted 7290000 rows successfully...
 Inserted 7300000 rows successfully...
 Inserted 7310000 rows successfully...
 Inserted 7320000 rows successfully...
 Inserted 7330000 rows successfully...
 Inserted 7340000 rows successfully...
 Inserted 7350000 rows successfully...
 Inserted 7360000 rows successfully...
 Inserted 7370000 rows successfully...
 Inserted 7380000 rows successfully...
 Inserted 7390000 rows successfully...
 Inserted 7400000 rows successfully...
 Inserted 7410000 rows successfully...
 Inserted 7420000 rows successfully...
 Inserted 7430000 rows successfully...
 Inserted 7440000 rows successfully...
 Inserted 7450000 rows successfully...
 Inserted 7460000 rows successfully...
 Inserted 7470000 rows successfully...
 Inserted 7480000 rows successfully...
 Inserted 7490000 rows successfully...
 Inserted 7500000 rows successfully...
 Inserted 7510000 rows successfully...
 Inserted 7520000 rows successfully...
 Inserted 7530000 rows successfully...
 Inserted 7540000 rows successfully...
 Inserted 7550000 rows successfully...
 Inserted 7560000 rows successfully...
 Inserted 7570000 rows successfully...
 Inserted 7580000 rows successfully...
 Inserted 7590000 rows successfully...
 Inserted 7600000 rows successfully...
 Inserted 7610000 rows successfully...
 Inserted 7620000 rows successfully...
 Inserted 7630000 rows successfully...
 Inserted 7640000 rows successfully...
 Inserted 7650000 rows successfully...
 Inserted 7660000 rows successfully...
 Inserted 7670000 rows successfully...
 Inserted 7680000 rows successfully...
 Inserted 7690000 rows successfully...
 Inserted 7700000 rows successfully...
 Inserted 7710000 rows successfully...
 Inserted 7720000 rows successfully...
 Inserted 7730000 rows successfully...
 Inserted 7740000 rows successfully...
 Inserted 7750000 rows successfully...
 Inserted 7760000 rows successfully...
 Inserted 7770000 rows successfully...
 Inserted 7780000 rows successfully...
 Inserted 7790000 rows successfully...
 Inserted 7800000 rows successfully...
 Inserted 7810000 rows successfully...
 Inserted 7820000 rows successfully...
 Inserted 7830000 rows successfully...
 Inserted 7840000 rows successfully...
 Inserted 7850000 rows successfully...
 Inserted 7860000 rows successfully...
 Inserted 7870000 rows successfully...
 Inserted 7880000 rows successfully...
 Inserted 7890000 rows successfully...
 Inserted 7900000 rows successfully...
 Inserted 7910000 rows successfully...
 Inserted 7920000 rows successfully...
 Inserted 7930000 rows successfully...
 Inserted 7940000 rows successfully...
 Inserted 7950000 rows successfully...
 Inserted 7960000 rows successfully...
 Inserted 7970000 rows successfully...
 Inserted 7980000 rows successfully...
 Inserted 7990000 rows successfully...
 Inserted 8000000 rows successfully...
 Inserted 8010000 rows successfully...
 Inserted 8020000 rows successfully...
 Inserted 8030000 rows successfully...
 Inserted 8040000 rows successfully...
 Inserted 8050000 rows successfully...
 Inserted 8060000 rows successfully...
 Inserted 8070000 rows successfully...
 Inserted 8080000 rows successfully...
 Inserted 8090000 rows successfully...
 Inserted 8100000 rows successfully...
 Inserted 8110000 rows successfully...
 Inserted 8120000 rows successfully...
 Inserted 8130000 rows successfully...
 Inserted 8140000 rows successfully...
 Inserted 8150000 rows successfully...
 Inserted 8160000 rows successfully...
 Inserted 8170000 rows successfully...
 Inserted 8180000 rows successfully...
 Inserted 8190000 rows successfully...
 Inserted 8200000 rows successfully...
 Inserted 8210000 rows successfully...
 Inserted 8220000 rows successfully...
 Inserted 8230000 rows successfully...
 Inserted 8240000 rows successfully...
 Inserted 8250000 rows successfully...
 Inserted 8260000 rows successfully...
 Inserted 8270000 rows successfully...
 Inserted 8280000 rows successfully...
 Inserted 8290000 rows successfully...
 Inserted 8300000 rows successfully...
 Inserted 8310000 rows successfully...
 Inserted 8320000 rows successfully...
 Inserted 8330000 rows successfully...
 Inserted 8340000 rows successfully...
 Inserted 8350000 rows successfully...
 Inserted 8360000 rows successfully...
 Inserted 8370000 rows successfully...
 Inserted 8380000 rows successfully...
 Inserted 8390000 rows successfully...
 Inserted 8400000 rows successfully...
 Inserted 8410000 rows successfully...
 Inserted 8420000 rows successfully...
 Inserted 8430000 rows successfully...
 Inserted 8440000 rows successfully...
 Inserted 8450000 rows successfully...
 Inserted 8460000 rows successfully...

 Inserted 8470000 rows successfully...
 Inserted 8480000 rows successfully...
 Inserted 8490000 rows successfully...
 Inserted 8500000 rows successfully...
 Inserted 8510000 rows successfully...
 Inserted 8520000 rows successfully...
 Inserted 8530000 rows successfully...
 Inserted 8540000 rows successfully...
 Inserted 8550000 rows successfully...
 Inserted 8560000 rows successfully...
 Inserted 8570000 rows successfully...
 Inserted 8580000 rows successfully...
 Inserted 8590000 rows successfully...
 Inserted 8600000 rows successfully...
 Inserted 8610000 rows successfully...
 Inserted 8620000 rows successfully...
 Inserted 8630000 rows successfully...
 Inserted 8640000 rows successfully...
 Inserted 8650000 rows successfully...
 Inserted 8660000 rows successfully...
 Inserted 8670000 rows successfully...
 Inserted 8680000 rows successfully...
 Inserted 8690000 rows successfully...
 Inserted 8700000 rows successfully...
 Inserted 8710000 rows successfully...
 Inserted 8720000 rows successfully...
 Inserted 8730000 rows successfully...
 Inserted 8740000 rows successfully...
 Inserted 8750000 rows successfully...
 Inserted 8760000 rows successfully...
 Inserted 8770000 rows successfully...
 Inserted 8780000 rows successfully...
 Inserted 8790000 rows successfully...
 Inserted 8800000 rows successfully...
 Inserted 8810000 rows successfully...
 Inserted 8820000 rows successfully...
 Inserted 8830000 rows successfully...
 Inserted 8840000 rows successfully...
 Inserted 8850000 rows successfully...
 Inserted 8860000 rows successfully...
 Inserted 8870000 rows successfully...
 Inserted 8880000 rows successfully...
 Inserted 8890000 rows successfully...
 Inserted 8900000 rows successfully...
 Inserted 8910000 rows successfully...
 Inserted 8920000 rows successfully...
 Inserted 8930000 rows successfully...
 Inserted 8940000 rows successfully...
 Inserted 8950000 rows successfully...
 Inserted 8960000 rows successfully...
 Inserted 8970000 rows successfully...
 Inserted 8980000 rows successfully...
 Inserted 8990000 rows successfully...
 Inserted 9000000 rows successfully...
 Inserted 9010000 rows successfully...
 Inserted 9020000 rows successfully...
 Inserted 9030000 rows successfully...
 Inserted 9040000 rows successfully...
 Inserted 9050000 rows successfully...
 Inserted 9060000 rows successfully...
 Inserted 9070000 rows successfully...
 Inserted 9080000 rows successfully...
 Inserted 9090000 rows successfully...
 Inserted 9100000 rows successfully...
 Inserted 9110000 rows successfully...
 Inserted 9120000 rows successfully...
 Inserted 9130000 rows successfully...
 Inserted 9140000 rows successfully...
 Inserted 9150000 rows successfully...
 Inserted 9160000 rows successfully...
 Inserted 9170000 rows successfully...
 Inserted 9180000 rows successfully...
 Inserted 9190000 rows successfully...
 Inserted 9200000 rows successfully...
 Inserted 9210000 rows successfully...
 Inserted 9220000 rows successfully...
 Inserted 9230000 rows successfully...
 Inserted 9240000 rows successfully...
 Inserted 9250000 rows successfully...
 Inserted 9260000 rows successfully...
 Inserted 9270000 rows successfully...
 Inserted 9280000 rows successfully...
 Inserted 9290000 rows successfully...
 Inserted 9300000 rows successfully...
 Inserted 9310000 rows successfully...
 Inserted 9320000 rows successfully...
 Inserted 9330000 rows successfully...
 Inserted 9340000 rows successfully...
 Inserted 9350000 rows successfully...
 Inserted 9360000 rows successfully...
 Inserted 9370000 rows successfully...
 Inserted 9380000 rows successfully...
 Inserted 9390000 rows successfully...
 Inserted 9400000 rows successfully...
 Inserted 9410000 rows successfully...
 Inserted 9420000 rows successfully...
 Inserted 9430000 rows successfully...
 Inserted 9440000 rows successfully...
 Inserted 9450000 rows successfully...
 Inserted 9460000 rows successfully...
 Inserted 9470000 rows successfully...
 Inserted 9480000 rows successfully...
 Inserted 9490000 rows successfully...
 Inserted 9500000 rows successfully...
 Inserted 9510000 rows successfully...
 Inserted 9520000 rows successfully...
 Inserted 9530000 rows successfully...
 Inserted 9540000 rows successfully...
 Inserted 9550000 rows successfully...
 Inserted 9560000 rows successfully...
 Inserted 9570000 rows successfully...
 Inserted 9580000 rows successfully...
 Inserted 9590000 rows successfully...
 Inserted 9600000 rows successfully...
 Inserted 9610000 rows successfully...
 Inserted 9620000 rows successfully...
 Inserted 9630000 rows successfully...
 Inserted 9640000 rows successfully...
 Inserted 9650000 rows successfully...
 Inserted 9660000 rows successfully...
 Inserted 9670000 rows successfully...
 Inserted 9680000 rows successfully...
 Inserted 9690000 rows successfully...
 Inserted 9700000 rows successfully...
 Inserted 9710000 rows successfully...
 Inserted 9720000 rows successfully...
 Inserted 9730000 rows successfully...
 Inserted 9740000 rows successfully...
 Inserted 9750000 rows successfully...
 Inserted 9760000 rows successfully...
 Inserted 9770000 rows successfully...
 Inserted 9780000 rows successfully...
 Inserted 9790000 rows successfully...
 Inserted 9800000 rows successfully...
 Inserted 9810000 rows successfully...
 Inserted 9820000 rows successfully...
 Inserted 9830000 rows successfully...
 Inserted 9840000 rows successfully...
 Inserted 9850000 rows successfully...
 Inserted 9860000 rows successfully...
 Inserted 9870000 rows successfully...
 Inserted 9880000 rows successfully...
 Inserted 9890000 rows successfully...
 Inserted 9900000 rows successfully...
 Inserted 9910000 rows successfully...
 Upload Completed!

In [120]:
cursor = conn.cursor()

# Function to run SQL queries and return results as a DataFrame
def run_query(query):
    cursor.execute(query)
    data = cursor.fetchall()
    columns = [desc[0] for desc in cursor.description]  # Extract column names
    return pd.DataFrame(data, columns=columns)  # Convert to DataFrame

# Example Query: Get total record count
query = "SELECT COUNT(*) AS total_records FROM glassdoor_reviews;"
df_result = run_query(query)

# Display the result
print(df_result)

   total_records
0        9901638

In [121]:
# Work-Life Balance Scores Across Companies
query = "SELECT company, AVG(work_life_balance) AS avg_work_life_balance FROM glassdoor_reviews GROUP BY company ORDER BY avg_work_life_balance DESC LIMIT 10;"
df_result = run_query(query)

# Display the result
print(df_result)

                        company  avg_work_life_balance
0                      1Leisure                    5.0
1        360 Resource Solutions                    5.0
2        2X Tecnologia Em Dobro                    5.0
3            3Monkeyproductions                    5.0
4                  3 Point Teks                    5.0
5  7 Arts Construction & Design                    5.0
6               12 Hour Massage                    5.0
7                  21 Comunicao                    5.0
8                    5K Network                    5.0
9              1 Stop Esolution                    5.0

In [122]:
# Most Common Job Titles
query = """SELECT job_title, COUNT(*) AS total_reviews
FROM glassdoor_reviews
GROUP BY job_title
ORDER BY total_reviews DESC
LIMIT 10;
"""
df_result = run_query(query)

# Display the result
print(df_result)

                            job_title  total_reviews
0               Anonymous Employee...        1704837
1                          Unknown...         682953
2                  Sales Associate...         155608
3                Software Engineer...         147930
4                          Manager...         127822
5                          Cashier...          96669
6  Customer Service Representative...          92008
7         Senior Software Engineer...          76179
8                        Associate...          68667
9                Assistant Manager...          68193

In [123]:
# Close connection
cursor.close()
conn.close()